<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PolicyGuard AI</title>
    <link rel="stylesheet" href="{{ url_for('frontend_asset', filename='home/home.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <header>
        <div class="nav">
            <h3 class="logo">PolicyGuard AI</h3>
            <a href="{{ url_for('home') }}" class="home">Home</a>
            <a href="{{ url_for('about') }}" class="about">About</a>
            <a href="{{ url_for('contact') }}" class="con">Contact</a>
            <button id="btn1">
                <i class="fa-solid fa-user-graduate"></i> Log in
            </button>
        </div>
    </header>

    <div class="hero">
        <div class="hero-text">
            <h1>Your Insurance Rights, Simplified by AI.</h1>
            <p>
                PolicyGuard decodes complex insurance policies, legal jargon, and claim procedures
                and delivers clear, actionable guidance instantly.
            </p>
            <button class="primary-btn">Get Started</button>
        </div>
        <div class="hero-image"></div>
    </div>

    <footer>
        <div class="footer">
            <p>Conditions of Use Privacy Notice your Adscprivacy Choices</p>
            <p>@2026 PolicyGuard AI.com,Inc.or its affilates</p>
        </div>
    </footer>

    <script>
        window.APP_ROUTES = {
            home: "{{ url_for('home') }}",
            about: "{{ url_for('about') }}",
            contact: "{{ url_for('contact') }}",
            login: "{{ url_for('login') }}",
            register: "{{ url_for('register') }}",
            chat: "{{ url_for('chat_page') }}"
        };
    </script>
    <script src="{{ url_for('frontend_asset', filename='home/home.js') }}"></script>
</body>
</html>
